:root {
    --text-dark-blue: #0b002e;
    --text-white: #fff;
    --text-coral: #ff4c5c;
    --bg-menu: rgba(0, 4, 46, 0.8);
    --background-light: #f3f2f7;
    --text-black-20: rgba(11, 0, 46, 0.20);
    --text-gray: #9D99AB;
}

