$color-dark-blue: #0b002e;
$color-blue: #1c3363;
$color-white: #fff;
$color-coral: #ff4c5c;
$color-black-20: rgba(11, 0, 46, 0.20);
$color-gray: #9D99AB;
$bg-menu: rgba(0, 4, 46, 0.8);
$bg-light: #f3f2f7;
