.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.7rem 4rem 1.4rem;

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.4rem;
  }

  &__link {
    padding-left: 1.8rem;
    font-weight: 500;
  }

  &__lang-selector {
    margin-right: 10px;
  }
}
