.main-logo {
  position: relative;

  &:hover {
    .main-logo__back-img {
      transform: skew(10deg) translateX(-2px);
      opacity: 0.8;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
  }

  &__back-img {
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(100%);
    transition: all 0.3s ease;
  }
}
